planner_type : PATH
planner_config {
    
    task : PATH_BOUNDS_DECIDER

    task : PIECEWISE_JERK_PATH_OPTIMIZER

    task : QUASI_POTENTIAL_FIELD_PATH_OPTIMIZER

    task : PATH_DECIDER

    dp_poly_path_config {
        enable_pull_over: true
        eval_time_interval: 0.1
        path_resolution: 1.0
        waypoint_sampler_config {
            sample_points_num_each_level: 7
            step_length_max: 40.0
            step_length_min: 15 #12 
            lateral_sample_offset: 0.5
            lateral_adjust_coeff: 0.5
            sidepass_distance: 2.8
            navigator_sample_num_each_level: 3
        }
        default_config {
            eval_time_interval: 0.1
            path_resolution: 1.0  
            obstacle_ignore_distance: 20.0
            obstacle_collision_distance: 0.5
            obstacle_risk_distance: 2.0
            obstacle_collision_cost: 1e8
            path_l_cost: 50 #6.5
            path_dl_cost: 8e3
            path_ddl_cost: 1.0
            path_l_cost_param_l0: 1.50
            path_l_cost_param_b: 0.40
            path_l_cost_param_k: 1.5
            path_out_lane_cost: 1e8
            path_end_l_cost: 1.0e4
        }
        lanechange_config {
            eval_time_interval: 0.1
            path_resolution: 1.0  
            obstacle_ignore_distance: 20.0
            obstacle_collision_distance: 0.5
            obstacle_risk_distance: 2.0
            obstacle_collision_cost: 1e8 #1e8
            path_l_cost: 100 #6.5
            path_dl_cost: 3e3 #8e3
            path_ddl_cost: 1.0
            path_l_cost_param_l0: 1.50 #1.50
            path_l_cost_param_b: 0.40
            path_l_cost_param_k: 1.5
            path_out_lane_cost: 1e8
            path_end_l_cost: 1.0e4
        }
        avoid_obstacle_config {
            eval_time_interval: 0.1
            path_resolution: 1.0
            obstacle_ignore_distance: 20.0
            obstacle_collision_distance: 0.5
            obstacle_risk_distance: 2.0
            obstacle_collision_cost: 1e8 #1e8
            path_l_cost: 100 #6.5
            path_dl_cost: 1000 #8e3
            path_ddl_cost: 1.0
            path_l_cost_param_l0: 1.50
            path_l_cost_param_b: 0.40
            path_l_cost_param_k: 1.5
            path_out_lane_cost: 1e8
            path_end_l_cost: 1.0e4
        }   
    }
    qp_spline_path_config {
        spline_order: 4
        max_spline_length: 20.0
        max_constraint_interval: 2.0
        time_resolution: 0.1
        regularization_weight: 1.0e-5
        first_spline_weight_factor: 0.0
        derivative_weight: 500.0
        second_derivative_weight: 1000.0
        third_derivative_weight: 10.0
        reference_line_weight: 100.0
        num_output: 100
        cross_lane_lateral_extension: 0.5
        cross_lane_longitudinal_extension: 100.0
        history_path_weight: 0.0
        lane_change_mid_l: 0.0
        point_constraint_s_position: 110.0
        lane_change_lateral_shift: 1.5
        uturn_speed_limit: 7.0
    }
    
    path_bounds_decider_config {
        is_lane_borrowing: false
        is_pull_over: false
        pull_over_destination_to_adc_buffer: 25.0
        pull_over_destination_to_pathend_buffer: 10.0
        pull_over_road_edge_buffer: 0.15
        pull_over_approach_lon_distance_adjust_factor: 1.5
    }

    piecewise_jerk_path_config {
        default_path_config {
          l_weight: 15.0
          dl_weight: 20.0
          ddl_weight: 1000.0
          dddl_weight: 50000.0
          obstacle_weight: 100.0
          dynamic_obstacle_weight: 35
          dotted_line_weight: 0.0
          solid_line_weight: 0.0 #3.0
          curb_weight: 5.0
        }
        lane_change_path_config {
          l_weight: 1.0 #1.0
          dl_weight: 5.0
          ddl_weight: 800.0
          dddl_weight: 30000.0
          obstacle_weight: 50.0
          dynamic_obstacle_weight: 2.5
          dotted_line_weight: 0.0
          solid_line_weight: 5.0 #3.0
          curb_weight: 5.0
        }
        start_from_road_side_config {
          l_weight: 10.0 
          dl_weight: 0.5
          ddl_weight: 200.0
          dddl_weight: 8000.0
          obstacle_weight: 50.0
          dynamic_obstacle_weight: 2.5
          dotted_line_weight: 0.0
          solid_line_weight: 0.0 #3.0
          curb_weight: 5.0
        }
    }

    quasi_potential_field_path_config {
        default_path_config {
          l_weight: 1.0
          dl_weight: 5.0
          ddl_weight: 800.0
          dddl_weight: 20000.0
          dotted_line_weight: 5.0
          solid_line_weight: 10.0
          curb_weight: 20.0
          obstacle_weight: 20.0
        }
        start_from_road_side_config {
          l_weight: 10.0 
          dl_weight: 0.5
          ddl_weight: 200.0
          dddl_weight: 8000.0
          dotted_line_weight: 50.0
          solid_line_weight: 100.0
          curb_weight: 200.0
          obstacle_weight: 200.0
        }
    }
}
