intention {
	offset_enable : false
	abandon_lc_enable : false
	mission_lc_enable : true
	speed_lc_enable : false
	obstacle_enable : true
	pull_over_enable : false
	meeting_enable : false
	command_lc_enable : false
	departure_enable : true
}
reference_line {
	borrow_lane_enable : true
	borrow_road_enable : false
	dis_to_line : 0.2
	dis_to_curb : 0.3
}
object {
	dis_to_stop : 60.0
	yield_enable : true
	replan_slow_enable : false
	replan_speed_limit : 5.0
}